@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: linear-gradient(
        217deg,
        rgb(255 0 0 / 80%),
        rgb(255 0 0 / 0%) 70.71%
      ), linear-gradient(127deg, rgb(0 255 0 / 80%), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(336deg, rgb(0 0 255 / 80%), rgb(0 0 255 / 0%) 70.71%);
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #res {
    
  }
  